<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="https://thawing-journey-41852.herokuapp.com"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://thawing-journey-41852.herokuapp.com"><span class="glyphicon glyphicon-user"></span>Documentation</a>
      </li>
    </ul>
  </div>
</nav>
