<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
	<div class="navbar-header">
		  <a class="navbar-brand" href="https://merlot-facial-recognition.herokuapp.com/">Merlot Facial Recognition</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="https://merlot-facial-recognition.herokuapp.com/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://merlot-facial-recognition.herokuapp.com/documentation"><span class="glyphicon glyphicon-book"></span> Documentation</a>
      </li>
      <li>
        <a href="https://merlot-facial-recognition.herokuapp.com/upload"><span class="glyphicon glyphicon-upload"></span> Upload</a>
      </li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/u17079544/Merlot-Facial-Recognition"><span class="glyphicon glyphicon-user"></span> GitHub</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Landing Page</a></li>
    </ul>
</div>
</nav>
