<!DOCTYPE html>
<html>
<head>
	<title>FNB Facial Recognition System</title>
	<meta charset="utf-8">
	<style type="text/css">
		body {
			font-family: sans-serif;
			background-color: whitesmoke;
		}
		#register {
			width: 100vw;
			height: 100vh;
		}
		#authenticate {
			width: 100vw;
			height: 100vh;	
		}
	</style>
</head>
<body>
	<h1>Facial Recognition System</h1>
	<div id="register">
		<h2>Register User</h2>
		<form>
			<label for="client_id">Client ID:</label>
			<input type="text" name="client_id"><br>
			<label for="images">Upload Images:</label>
			<input type="file" name="images" onchange="previewFiles()" multiple>
			<div id="preview"></div>
			<input type="submit" name="Upload">
		</form>
		<h3>Result</h3>
		<div class="result-box" id="r_result">
			
		</div>
	</div>
	<div id="authenticate">
		<h2>Authenticate User</h2>
		<form>
			<label for="images">Upload Image:</label>
			<input type="file" name="images" onchange="previewFile()">
			<div id="preview1"></div>
			<input type="submit" name="Upload">
		</form>
		<h3>Result</h3>
		<div class="result-box" id="a_result">
			
		</div>
	</div>

	<script type="text/javascript">
		<!-- script for uploading -->
		function previewFiles() {

  			var preview = document.querySelector('#preview');
  			var files   = document.querySelector('input[type=file]').files;

  			function readAndPreview(file) {

    			// Make sure `file.name` matches our extensions criteria
    			if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
      				var reader = new FileReader();

      				reader.addEventListener("load", function () {
        				var image = new Image();
        				image.height = 100;
        				image.title = file.name;
        				image.src = this.result;
        				preview.appendChild( image );
      				}, false);

      				reader.readAsDataURL(file);
    			}

  			}

  			if (files) {
    			[].forEach.call(files, readAndPreview);
  			}
		}

		function previewFile() {
  			var preview = document.querySelector('#preview1');
 			var file    = document.querySelectorAll('input[type=file]')[1].files[0];


  			function readAndPreview(file) {

    			// Make sure `file.name` matches our extensions criteria
    			if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
      				var reader = new FileReader();

      				reader.addEventListener("load", function () {
        				var image = new Image();
        				image.height = 100;
        				image.title = file.name;
        				image.src = this.result;
        				preview.appendChild( image );
      				}, false);

      				reader.readAsDataURL(file);
    			}

  			}

  			readAndPreview(file);
		}		
	</script>
	<script type="text/javascript">
		$("#upload-button").on('click', function() {
    		// validate type of file
    		if(['image/jpeg', 'image/jpg', 'image/png', 'image/gif'].indexOf($("#file-to-upload").get(0).files[0].type) == -1) {
        		alert('Error : Only JPEG, PNG & GIF allowed');
        		return;
    		}

    		var reader = new FileReader();
    		reader.onload = function(){
        		var $data = { 'title': 'Sample Photo Title', 'file': reader.result };
        		$.ajax({
            			type: 'POST',
            			url: 'upload.php',
            			data: $data,
            		success: function(response) {
                
            		},
            		error: function(response) {
                
            		},
        		});
    		};
    		reader.readAsDataURL($("#file-to-upload").get(0).files[0]);    
		});
	</script>
</body>
</html>