<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

	<h1 style='text-align: center'>Merlot Facial Recognition Team</h1>
	<h2 style='text-align: center'>Group 11</h2>

</body>
</html>
